.edu-main-container{
  display:flex;
  align-items: center;
  margin:1rem;
}
.edu-item{
  flex: 1;

}

.edu-item h4{
  font-weight: 400;
}

.edu-logo-container{
  margin: 0 auto;

  /* background: url('/images/u_plymouth.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */

  width: 100px;
  height: 100px;

  display:flex;
  justify-content: center;
  align-items: flex-start;

  position: relative;

  /* Do not touch */
  top:-84px;
}

.uni{
  font-weight: 400;
  color:gray;
}

.uni-description{
  color: #666;
}

.uni-details{
  display: flex;
  justify-content: space-between;
}

.edu-item-duration{
  font-style: italic;
}

.courses{
  padding-left: 2rem;

}

@media (max-width: 600px){
  .edu-main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .edu-logo-container{
    display:none;
  }
}