.edu-main-container{
  display:flex;
  align-items: center;
  margin:0.2rem;
}

.edu-item{
  flex: 1;
}

.edu-item h4{
  font-weight: 400;
}

.edu-logo-container{
  margin: 0 auto;

  width: 100px;
  height: 100px;

  display:flex;
  justify-content: center;
  align-items: flex-start;

  position: relative;/
}

.uni{
  font-weight: 400;
  color:gray;
  font-size: 0.95rem;
}

.uni-description{
  color: #666;
}

.uni-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.edu-item-duration{
  font-style: italic;
  font-size: 0.95rem;
}

.courses{
  padding-left: 2rem;

}

@media (max-width: 600px){
  .edu-main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .edu-logo-container{
    display:none;
  }

  .uni-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}