/* EXTRA */
.extra-container{
  display:flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0.8rem 0.5rem;
  margin-top: 0.5rem;
}


#extra h3{
  border-bottom:none;
  padding-bottom:0;
  margin-bottom: 0.4rem;
  font-size: 1.1rem;
}

/* language(s) */
.languages ul, .interests ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4rem 0.5rem;
}

.languages ul li, .interests ul li{
  background-color:white;
  padding: 0.2rem 0.6rem;
  border-radius: 12px;
  font-size: 0.9rem;
  font-weight: 500;
  color:gray;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s ease-in-out;

  border: 1px solid gray;
  box-shadow: 2px 2px 0px gray;
} 

.languages ul li:hover, .interests ul li:hover{
  color:black;
  border: 1px dashed darkorange;
  box-shadow: 2px 2px 0px darkorange;
  cursor: default;
}