html{
  scroll-behavior: smooth;

}
.floating-navbar{
    position:fixed;
    right:30px;
    /* right: 50%; */
    top: 50%;
    /* top: 50px; */
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 0.7rem;
    background: white;
    border: 1px solid #e9ecef;
    border-radius: 14px;

    box-shadow: 0 4px 15px rgba(0,0,0,0.08);

    z-index: 1000;

    transition: all 0.2s ease-in-out;
}

.floating-navbar a{
    text-decoration: none;
    color: #7d736c;
    font-size: 0.85rem;
    font-weight: 500;

    padding: 0.5rem 0.7rem;
    border-radius: 8px;

    transition: all 0.2s ease;

}

.floating-navbar a:hover{
    /* font-weight: 600; */
    color: darkorange;
    background:whitesmoke;
    transform: translateX(-3px);
}

@media (max-width: 900px){
    .floating-navbar{
        display: none;
    }
}