.project-card{
  /* display:grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto 1fr auto; */

  margin: 1rem auto;
  padding: 0.4rem 0.6rem;

  transition: all 0.3s ease; 

  position: relative;
}

.project-card h3{
  font-size: 1rem;
  grid-column: 1;
  grid-row: 1;
}

.project-meta{
  grid-column: 2;
  grid-row: 1 / 3;
  text-align: right;
  font-style:italic;
  padding: 0.2rem 0.5rem;
}

.project-card .tech{
  font-weight: 500;
}

.project-card .theme{
  display:block;
  margin-top: 0.25rem;
  color:gray;
}

.project-card .date{
  color:gray;
  grid-column: 1;
  grid-row: 2;
}

.project-card .description{
  grid-column: 1 / 1;
  grid-row: 3;
  margin: 0.5rem 0;
}


.project-btn{
  display:inline-block;
  text-decoration: none;
  border: 1px solid gray;
  /* margin: 8px 4px; */
  padding: 0.4rem 0.6rem;
  color:gray;
  font-weight: 500;
  transition: all 0.2s ease;
  cursor: pointer;
  
  width: fit-content;
  
  grid-column: 1;
  grid-row: 4;
  border-radius: 12px;
  box-shadow: 2px 2px 0px gray;
  background: #f8f9fa;
  font-size: 0.95rem;
}

.project-btn:hover{
  color:darkorange;
  border: 1px dashed black;
  background: white;
  /* transform: scale(1.01); */
  transform: translateX(2px);
  box-shadow: 2px 2px 0px black;
}

.project-top{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 600px){
    #projects{
      grid-template-columns: 1fr;
    }
}