/* SKILLS */

.skill-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
  margin: 1rem 0;
  /* background: whitesmoke; */
  border-radius: 8px;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 0.2rem;

  padding: 0.8rem 1rem;
}

.skills-container h3 {

  font-size: 1rem;
  font-weight: 600;
}

.skills-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem 1rem;
}

.skill-tag {
  padding: 0;

  background: white;
  border: none;
  border-radius: 0;
  box-shadow: none;

  color: gray;
  font-size: 0.9rem;
  font-weight: 500;

  cursor: default;

  transition: all 0.2s ease;

  background: #f8f9fa;
  border: 1px solid gray;
  border-radius: 12px;
  padding: 0.2rem 0.6rem;
  
}

.skill-tag:hover {
  color: darkorange;
  transform: none;
  border: none;
  background:white;
  box-shadow: none;
  border: 1px dashed black;
}

@media (max-width: 600px){
  .skill-main-container{
    display:grid;
    grid-template-columns: 1fr;
  }
}