/* using vanilla CSS to style */

/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+CA+Guides&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"GRAD" 0;

  background:#f5f5f5;
  color:#1a1a2e;
  line-height: 1.6;
  margin: 0 auto;
  /* padding: 2rem 1.5rem;  */
}

.main-flow{
  max-width: 800px;
  margin: 0 auto;

}

section {
  margin: 2.5rem 0;
  border: 2px solid rgba(128, 128, 128, 0.299);
  border-radius: 8px;
  padding: 0.5rem;
  transition: all 0.3s ease;
  background: white;
}


h2{
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 2px solid rgba(128, 128, 128, 0.299);
  margin-bottom: 1rem;
  padding: 0.1rem;
  
  transition: all 0.3s ease;
}

h3{
  font-size:1.1rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

.hr{
  border: 1px dashed gray;
}

#header,
#skills,
#education,
#projects,
#extra {
    scroll-margin-top: 5rem;
}

@media (max-width: 600px){
  section{
    margin: 1.2rem 0.8rem;
  }

  h2{
    font-size: 1rem;
    text-align: center;
  }
}