/* using vanilla CSS to style */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Helvetica,
  Arial,
  sans-serif;

  background:white;
  color:#1a1a2e;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  /* padding: 2rem 1.5rem; */
  
}

section {
  margin-bottom: 2.5rem;
  border: 2px solid rgba(128, 128, 128, 0.299);
  border-radius: 8px;
  padding: 0.5rem;
  transition: all 0.3s ease;
}


h2{
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 2px solid #e9ecef;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  
  transition: all 0.3s ease;
}

h3{
  font-size:1.1rem;
  font-weight: 500;
  margin-bottom: 0.25rem;
}

#header,
#skills,
#education,
#projects,
#extra {
    scroll-margin-top: 5rem;
}